@model IEnumerable<UD5Modelo.Models.Futbolista>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Crear">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dorsal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinutosJugados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnActivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioMercado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Minutos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dorsal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinutosJugados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnActivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioMercado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minutos)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Editar", new { id = item.Id })   @*  |
                 @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td> 
        </tr>
}
    </tbody>
</table>
